i {
    font-size: 50px;
    color: #2196F3;
    padding: 12px;
    margin: 10px;
    border: solid;
    width: auto;
    height: auto;

}
h1{
    font-size: 70px;
    text-align: center;
    color: #2196F3;
    
}
body{
    background-image: url(../img/tild3131-3830-4134-b439-336463396166__photo_copy_1.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    
}